.login__container{
    border: 0.1rem solid black;
    height: 100vh; 
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading__tag{
}

.login__inner__container{
    display: flex; 
    border: 0.1rem solid black;
    flex-direction: column;
    width: 40%;
}

.input__container{
    padding: 1rem;
    outline: none;
    font-size: large;
}